# Initialization Cells

In [1]:
# !pip install cupy-cuda115
# !pip install seaborn

In [2]:
import pandas as pd
import cupy as cp
import numpy as np
import seaborn as sb
import matplotlib.pyplot as plt 
cp = cp.asnumpy
array = np.array

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
Actual = pd.read_csv('submission.csv')

In [4]:
Actual_np = cp(array(Actual.drop(['PassengerId'], axis=1)))

In [5]:
train.drop(['Cabin', 'Name', 'Ticket', 'PassengerId'], axis=1, inplace=True)
test.drop(['Cabin', 'Name', 'Ticket', 'PassengerId'], axis=1, inplace=True)

In [6]:
train['TravelAlone'] = train['Parch'] + train['SibSp'] > 1
tt = array(train['TravelAlone'])
train['TravelAlone'] = cp(np.where( tt == False, 0, 1))

In [7]:
test['TravelAlone'] = test['Parch'] + test['SibSp'] > 1
test['TravelAlone'] = cp(np.where(test['TravelAlone'] == 0, 0, 1))

In [8]:
from sklearn.preprocessing import LabelBinarizer
labelbin = LabelBinarizer()
train['Embarked'] = labelbin.fit_transform(train['Embarked'].astype(str))
train['Sex'] = labelbin.fit_transform(train['Sex'].astype(str))
test['Embarked'] = labelbin.fit_transform(test['Embarked'].astype(str))
test['Sex'] = labelbin.fit_transform(test['Sex'].astype(str))

In [9]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  TravelAlone
0         0       3    1  22.0      1      0   7.2500         0            0
1         1       1    0  38.0      1      0  71.2833         1            0
2         1       3    0  26.0      0      0   7.9250         0            0
3         1       1    0  35.0      1      0  53.1000         0            0
4         0       3    1  35.0      0      0   8.0500         0            0

In [10]:
Survived = cp(array(train['Survived'].copy()))
train_x = train.drop(['Survived'], axis=1)

In [11]:
Survived.shape

(891,)

In [12]:
test.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  TravelAlone
0       3    1  34.5      0      0   7.8292         0            0
1       3    0  47.0      1      0   7.0000         0            0
2       2    1  62.0      0      0   9.6875         0            0
3       3    1  27.0      0      0   8.6625         0            0
4       3    0  22.0      1      1  12.2875         0            1

In [13]:
from sklearn.preprocessing import StandardScaler
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
pipeline = Pipeline([
        ('imputer', SimpleImputer()),
#         ('std_scaler', StandardScaler()),
])
Data_train = pipeline.fit_transform(train_x)
Data_test = pipeline.fit_transform(test)

In [14]:
train_Pd = pd.DataFrame(Data_train, columns=train_x.columns)

In [15]:
X_train = cp(array(train_Pd))
y_train = Survived
X_test = cp(Data_test)

# LogisticRegression

In [16]:
from sklearn.linear_model import LogisticRegression
model = LogisticRegression(max_iter=1000)
model.fit(X_train, y_train)
y_model = model.predict(X_test)

# SVM

In [17]:
from sklearn.svm import LinearSVC

In [18]:
train.head()

   Survived  Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  TravelAlone
0         0       3    1  22.0      1      0   7.2500         0            0
1         1       1    0  38.0      1      0  71.2833         1            0
2         1       3    0  26.0      0      0   7.9250         0            0
3         1       1    0  35.0      1      0  53.1000         0            0
4         0       3    1  35.0      0      0   8.0500         0            0

In [19]:
from sklearn.preprocessing import StandardScaler
SS = StandardScaler()
SS_train = SS.fit_transform(X_train)
SS_test = SS.fit_transform(X_test)

In [20]:
model = LinearSVC(C=0.01)
model.fit(SS_train, y_train)
y_SVM = model.predict(SS_test)

In [21]:
y_SVM.shape

(418,)

# Decision Tree

In [22]:
y_train = y_train.reshape((-1,1))
yes = cp(np.count_nonzero(y_train))
no = y_train.shape[0] - yes
yesno = cp(array([yes,no]) / y_train.shape[0])
entropy = - yesno.dot(np.log2(yesno).T)

In [23]:
train_Pd.head()

   Pclass  Sex   Age  SibSp  Parch     Fare  Embarked  TravelAlone
0     3.0  1.0  22.0    1.0    0.0   7.2500       0.0          0.0
1     1.0  0.0  38.0    1.0    0.0  71.2833       1.0          0.0
2     3.0  0.0  26.0    0.0    0.0   7.9250       0.0          0.0
3     1.0  0.0  35.0    1.0    0.0  53.1000       0.0          0.0
4     3.0  1.0  35.0    0.0    0.0   8.0500       0.0          0.0

In [24]:
for i in
tempP = cp(array(train_Pd['Sex']))
temp0 = np.count_nonzero(tempP)
temp1 = np.count_nonzero(tempP==0)
total = temp0 + temp1
x = np.where(tempP == 0, 1, 0)
tempH0 = cp(np.where(tempP == y_train, 1, 0))
tempH1 = cp(np.where(x == y_train, 1, 0))
tempH0C = np.count_nonzero(tempH0)
tempH1C = np.count_nonzero(tempH1)

SyntaxError: invalid syntax (112343430.py, line 1)

In [ ]:
pS0 = temp0 / total
pS1 = temp1 / total

# Results

In [ ]:
result = pd.DataFrame()
result['SVM'] = y_SVM
result['Model'] = y_model
result['Actual'] = Actual_np.reshape(-1,)
print(result['Actual'].value_counts())
print('\n')
print(result['Model'].value_counts())
print('\n')
print(result['SVM'].value_counts())
result.head()